body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  header {
    background-color:  rgb(29, 38, 67);
    color: #fff;
    padding: 0.5rem;
    text-align: center;
  }
  header span i{
    font-size: 30px;
    cursor: pointer;
    color: white;

  }
  .container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .form-section {
    margin-bottom: 2rem;
  }
  .form-section h2 {
    margin-bottom: 1rem;
    color: #0044cc;
  }
  .form-section form {
    margin-bottom: 1.5rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  .form-group input, .form-group select, .form-group textarea {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn {
    padding: 0.8rem 1.2rem;
    color: #fff;
    background: #0044cc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover {
    background: #003bb5;
  }
  #qr-code {
    text-align: center;
    margin-top: 2rem;
  }
  #qr-code canvas {
    margin-top: 1rem;
  }