@media (max-width:430px) {
 
    body{
      height: 190vh;
  }
  .card-container{
    margin-top: 11rem; 
  
  }
  
  .logo-text{
      font-size: 28px;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      color: aliceblue;
  }
    #removal{
      display: none;
  }
    .card-template{
      padding: 10px;
      border: 1px solid;
      border-radius: 10px;
      width: 100%;
      background-color: rgb(0, 1, 4);
      color: white;
      font-size: 20px
    }
    .transactions{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        position: relative;
        left: 3.5rem;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 1rem;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .header{
      display: flex;
      justify-content: center;
      gap :120px;
      /* position: fixed;
      z-index: 5; */
  }
  #Profile-image{
      width: 100px;
      border-radius: 50%;
      height: 40px;
      width: 50px;
  }
  .client-name{
      font-family: "Lato",sans-serif;
      color: aliceblue;
      font-size: 12px;
  }
    .header-list{
        letter-spacing: 1px;
    }
    .support{
      position: fixed;
      right: 0px;
        top: 600px;
  }
  .support img{
      width: 60px;
      height:70px;
      cursor: pointer;
  }
  }
  @media (max-width:414px) {
    .header{
        display: flex;
        justify-content: center;
        gap :100px;
        position: fixed;
        z-index: 5;
    }
  }
  @media (max-width:393px) {
    .header{
      display: flex;
      justify-content: center;
      gap :80px;
      position: fixed;
      z-index: 5;
  }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 12px;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 1rem;
        display: grid;
        place-content: center;
        gap: 5px;
    }
    .head-link{
        text-decoration: none;
        font-family: "Lato";
        color: rgb(43, 42, 42);
        font-weight: 700;
        font-size: 13px;
        display: block;
    }
  }
  @media (max-width:390px) {
    body{
      height: 190vh;
    }
  }
  @media (max-width:375px) {
   
    .header{
      display: flex;
      justify-content: center;
      gap :60px;
      position: fixed;
      z-index: 5;
  }
  }
  @media (max-width:360px) {
    body{
      height: 170vh;
    }
    .header{
      display: flex;
      justify-content: center;
      gap :90px;
      /* position: fixed;
      z-index: 5; */
  }
  .logo-png{
      width: 30px;
      border-radius: 50%;
      /* padding: 10px; */
  }
  .logo-text{
      font-size: 28px;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      color: aliceblue;
  }
  #Profile-image{
      width: 100px;
      border-radius: 50%;
      height: 30px;
      width: 40px;
  }
  .client-name{
      font-family: "Lato",sans-serif;
      color: aliceblue;
      font-size: 10px;
  }
    .transaction-history{
        position: relative;
        left: 2rem;
        top: -1.5rem;
        text-decoration: none;
     }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 10px;
    }
    .head-link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
    }
    .support{
      position: fixed;
      right: 0px;
        top: 570px;
  }
  .support img{
      width: 60px;
      height:70px;
      cursor: pointer;
  }
  }
  @media (max-width:320px) {
    body{
      height: 185vh;
    }
    .client-name{
      font-family: "Lato",sans-serif;
      color: aliceblue;
      font-size: 8px;
  }
  }