*{
  padding: 0px;
  margin: 0px;
  
}


.card-container{
  position: absolute;
  top: 200px;
  left:  500px;
  margin-right: auto;
  margin-left: auto;

}

.card-template{
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 400px;
  background-color: rgb(0, 1, 4);
  color: white;
  font-size: 20px
}


#card-number{
  letter-spacing: 10px;
}
.expiry-ccv{
  margin-top: 13px;
}
.expiry-ccv p{
  margin-top: 10px;
}
.expiry-ccv span{
  letter-spacing: 10px;
}

.colored{
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 47, 0);
  margin-right: 12px;
  

}
.black{
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1a603d7;
}

.colored, .black{
  position: absolute;
  right: 23px;
}

.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: center;

}
.buttons button{
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  
  font-size: 14px;
  cursor: pointer;
}

#request-card{
  background-color: orange;
  color: blue;
  font-weight: 500px;
}

#need-help{
  background-color: darkblue;
  color: orange;
}

/* THE LAST DIV */

.cardName{
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
 
 
}

.cardName #card-name{
  margin-left: 30px;
  opacity: 0.3;
}

.Card-details{
  position: relative;
  top: 60px;
}

#card-header{
  font-weight: 600;
  font-size: 18px;
}

#card-ccv{
  letter-spacing: 10px;
}

#card-name{
  letter-spacing: 10px;
}

.cardName, .cardNumber-section, .cardCcv-section{
  margin-top: 30px;
}