@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: gainsboro;
}
.logo-png{
    width: 50px;
    border-radius: 50%;
    /* padding: 10px; */
}
.logo-text{
    font-size: 28px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: aliceblue;
}
.header{
    background-color:  rgb(29, 38, 67);
    border: 1px solid;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    padding: 10px;
}
.nav-link{
    margin-top: 10rem;
    background-color: aliceblue;
    width: 60%;
    margin-left: 2rem;
    border-radius: 30px;
    line-height: 2rem;
}
.header-list{
    letter-spacing: 3px;
}
.head-link{
    text-decoration: none;
    font-family: "Lato";
    color: rgb(43, 42, 42);
    font-weight: 700;
}
.head-link:hover{
    background-color: rgb(95, 95, 190);
    width: 114%;
    color: aliceblue;
  }
.fa{
    color: navy;
}
.fa-refresh:active{
    animation: animate 3s;
}
@keyframes animate{
    
   25%{
       transform: rotate(300deg);
   }
    50%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(100deg);
    }

}
#bottom-pics-2{
    display: none;
}
.main-containers{
    display: grid;
    grid-template-columns: auto auto;
}
.header-list {
    margin-bottom: 10px;
}

.head-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.head-link i {
    margin-right: 10px;
}
#Profile-image{
    width: 100px;
    border-radius: 50%;
    height: 120px;
    width: 130px;
}
input{
    display: none;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.client-name{
    font-family: "Lato",sans-serif;
}
/* Banking Section */
.dashboard{
    margin-top: 10rem;  
 }
 .account-details{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 35px;
    background-color: white;
    width: 80%;
    /* height: 240px; */
 }
 .savings-head{
    font-family: "Lato",sans-serif;
    font-size: 22px;
 }
 .acct-head{
    font-family: "Lato",sans-serif;
    font-size: 18px;
 }
 #account-number{
    font-family: "Lato",sans-serif;
    font-size: 14px;
 }
 .top-savings{
    display: flex;
 }
 .transaction-history{
    position: relative;
    left: 14rem;
    top: -1.5rem;
    text-decoration: none;
 }
 a, #transaction-history{
    text-decoration: none;
    font-family: "Lato",sans-serif;
    color: blue;
 }
 .transaction-icons{
    display: flex;
    gap: 50px;
    /* justify-content: center; */
}
.trans-icon{
    width: 45px;
    background-color: rgb(222, 152, 236);
    padding: 10px;
    border-radius: 10px;
}
.addmoney-text, .topUp-text, .addmoney-text1{
    font-family: "Lato", sans-serif;
}
.support{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.support img{
    width: 80px;
    height:90px;
    cursor: pointer;
}
.balances{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.account-balance, .current-balance{
    background-color: white;
    width: 90%;
    border-radius: 15px;
    padding: 30px;
}
.balance-head{
    font-family: "Lato", sans-serif;
    color: #797676;
}
#available-balance, #current-balance{
    display: grid;
    place-content: center;
   transform: translate(-30%, 75%);
   font-family: "Lato", sans-serif;
}
#available-balance{
    font-weight: 900;
    font-family: "Lato", sans-serif;
}
.transactions{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    position: relative;
    right: 2rem;
}
.current-balance{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}
.trans-head{
    color: #888;
    font-family: "Lato",sans-serif;
}
.completed-transaction{
    border: 4px solid transparent;
    border-radius: 10px;
    border-bottom-color: green;
    padding: 15px;
    background-color: white;
}
.pending-transaction{
    border: 4px solid transparent;
    border-radius: 10px;
    border-bottom-color: #ffea00;
    padding: 15px;
    background-color: white;
}
.failed-transaction{
    border: 4px solid transparent;
    border-radius: 10px;
    border-bottom-color: #ff1100;
    padding: 15px;
    background-color: white;
}
/* Responsive Design */
@media (max-width:1280px) {
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 67%;
        /* padding: 40px; */
        margin-left: 2rem;
        border-radius: 30px;
        line-height: 2rem;
    }
}
@media (max-width:1114px) {
    #Profile-image{
        width: 100px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}
@media (max-width:884px) {
    body{
       overflow-x: hidden;
    }
    .account-details{
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 35px;
        background-color: white;
        width: 85%;
        /* height: 240px; */
        margin: auto;
     }
     .balances{
        display: grid;
        grid-template-columns: auto auto;
        gap: 200px;
        place-content: center;
        margin-right: 4rem;
    }
    .account-balance, .current-balance{
        background-color: white;
        width: 150%;
        border-radius: 15px;
        padding: 30px;
    }
    .transactions{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        position: relative;
        left: 8.5rem;
    }
     .transaction-history{
        position: relative;
        left: 10rem;
        top: -1.5rem;
        text-decoration: none;
     }
     .main-containers{
      display: flex;
      flex-direction: column-reverse;
    }
    .dashboard{
        margin-top: 10rem;  
     }
     .completed-transaction{
        border: 4px solid transparent;
        border-radius: 10px;
        border-bottom-color: green;
        padding: 15px;
        background-color: white;
        width: 70%;
    }
    .pending-transaction{
        border: 4px solid transparent;
        border-radius: 10px;
        border-bottom-color: #ffea00;
        padding: 15px;
        background-color: white;
        width: 70%;
    }
    .failed-transaction{
        border: 4px solid transparent;
        border-radius: 10px;
        border-bottom-color: #ff1100;
        padding: 15px;
        background-color: white;
        width: 70%;
    }
    .header{
        background-color:  rgb(29, 38, 67);
        border: 1px solid;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        padding: 10px;
    }
   
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 2rem;
        display: grid;
        place-content: center;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }
    .header-list{
        display: grid;
        place-content: center;
    }
   
    .sidecontainer{
        display: flex;
    }
    #bottom-pics{
        display: none;
    }
    .support{
        position: fixed;
        right: 0px;
        top: 400px;
    }
    .support img{
        width: 80px;
        height:90px;
        cursor: pointer;
    }
    .profile{
        display: none;
    }
    .head-link{
        text-decoration: none;
        font-family: "Lato";
        color: rgb(43, 42, 42);
        font-weight: 700;
        font-size: 15px;
        display: block;
    }
    .head-link:hover{
        background-color: rgb(95, 95, 190);
        width: 100%;
        color: aliceblue;
      }
      #bottom-pics-2{
        display: flex;
    }
    #Profile-image{
        width: 100px;
        border-radius: 50%;
        height: 70px;
        width: 80px;
    }
    .client-name{
        font-family: "Lato",sans-serif;
        color: aliceblue;
        font-size: 14px;
    }
    .header{
        display: flex;
        justify-content: center;
        gap :380px;
        position: fixed;
        z-index: 5;
    }
    .logos{
        padding: 15px;
        line-height: 2rem;
    }
    .dashboard{
        margin-top: 12rem;  
     }
}
@media (max-width:834px) {
    .header{
        display: flex;
        justify-content: center;
        gap :300px;
    }
}
@media (max-width:800px) {
    .head-link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
    }
}
@media (max-width:768px) {
    body{
        height: 120vh;
    }
    .account-balance, .current-balance{
        background-color: white;
        width: 120%;
        border-radius: 15px;
        padding: 30px;
    }
}
@media (max-width:430px) {
    *{
        overflow-x: hidden;
    }
    body{
        height: 150vh;
    }
    .logo-text{
        transform: translate(0%,10%);
        font-size: 28px;
    }
    .logo-png{
        /* width: 50px;
        border-radius: 50%; */
        display: none;
        /* padding: 10px; */
    }
    #removal{
        display: none;
    }
    .transaction-history{
        position: relative;
        left: 0%;
        top: -0rem;
        text-decoration: none;
     }
     .transaction-icons{
        display: flex;
        gap: 15px;
        /* justify-content: center; */
    }
    a, #transaction-history{
        text-decoration: none;
        font-family: "Lato",sans-serif;
        color: blue;
        font-size: 13px;
     }
     .dashboard{
        margin-top: 9rem;  
     }
    .trans-icon{
        width: 40px;
        background-color: rgb(222, 152, 236);
        padding: 10px;
        border-radius: 10px;
    }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 14px;
    }
    .balances{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    .transactions{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        position: relative;
        left: 3.5rem;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 1rem;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .header{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap :5px;
        position: fixed;
        z-index: 5;
    }
    .img{
        position: relative;
        right: 2.5rem;
    }
    #Profile-image{
        /* width: 100px; */
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .client-name{
        font-family: "Lato",sans-serif;
        color: aliceblue;
        font-size: 10px;
    }
    .header-list{
        letter-spacing: 1px;
    }
    .support{
        position: fixed;
        right: 0px;
          top: 850px;
    }
    .support img{
        width: 60px;
        height:70px;
        cursor: pointer;
    }
}
@media (max-width:414px) {
    .header{
        display: flex;
        justify-content: center;
        gap :100px;
        position: fixed;
        z-index: 5;
    }
}
@media (max-width:393px) {
    .header{
        display: flex;
        justify-content: center;
        gap :80px;
        position: fixed;
        z-index: 5;
    }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 12px;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 1rem;
        display: grid;
        place-content: center;
        gap: 5px;
    }
    .head-link{
        text-decoration: none;
        font-family: "Lato";
        color: rgb(43, 42, 42);
        font-weight: 700;
        font-size: 13px;
        display: block;
    }
}
@media (max-width:375px) {
   body{
    height: 150vh;
   }
    .header{
        display: flex;
        justify-content: center;
        gap :60px;
        position: fixed;
        z-index: 5;
    }
}
@media (max-width:360px) {
    .header{
        display: flex;
        justify-content: center;
        gap :90px;
        position: fixed;
        z-index: 5;
    }
    .logo-png{
        width: 30px;
        border-radius: 50%;
        /* padding: 10px; */
    }
    .logo-text{
        font-size: 28px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        color: aliceblue;
    }
    #Profile-image{
        width: 100px;
        border-radius: 50%;
        height: 30px;
        width: 40px;
    }
    .client-name{
        font-family: "Lato",sans-serif;
        color: aliceblue;
        font-size: 10px;
    }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 10px;
    }
    .head-link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
    }
    .support{
        position: fixed;
        right: 0px;
          top: 570px;
    }
    .support img{
        width: 60px;
        height:70px;
        cursor: pointer;
    }
}
@media (max-width:320px) {
    body{
        height: 220vh;
    }
   
    .transaction-icons{
        display: flex;
        gap: 10px;
        /* justify-content: center; */
    }
    .trans-icon{
        width: 35px;
        background-color: rgb(222, 152, 236);
        padding: 10px;
        border-radius: 10px;
    }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 8px;
    }
    a, #transaction-history{
        text-decoration: none;
        font-family: "Lato",sans-serif;
        color: blue;
        font-size: 13px;
     } .client-name{
        font-family: "Lato",sans-serif;
        color: aliceblue;
        font-size: 8px;
    }
}