/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
} */

.header h1{
    
    font-weight: bold;
    color: white;
    position: relative;
    
    left: 90px;
    bottom: 56px;
    margin: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.header a{
    color:#fff;
    font-size: 35px;
}
.form-body {
    max-width: 600px;
    margin: 50px auto;
    position: relative;
    top: 100px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-body h1, h2 {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: #0074d9;
    color: white;
    width: 200px;
}

.button-group button.active {
    background-color: #005bb5;
}

.transfer-form {
    display: none;
}

.transfer-form.active {
    display: block;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

form input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}
select{
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}
form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #005bb5;
}

/* .hidden {
    display: none;
} */


/* SUCCESS PAGE */


.success-page{
    position: relative;
    top: 100px;
    border: 1px solid;
    padding: 20px;
    width: 400px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;

}
.success-page img{
    height: 50px;
    width: 50px
}

.success-page h1{
    text-align: center;
    margin: 20px;
    font-size: 22px;

}

.success-page table{
    height: 300px;
    width: 600px;
    margin-top: 40px;
}