/* body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
.transaction-dashboard{
    position: relative;
    top: 75px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
    padding: 20px;
    height: 1000px;
    width: 500px;
    margin-left: 30em;

     display: flex;
     justify-content: center;
     
    
        
 }
 #shade{
   background-color: rgb(29, 38, 67);
   position: absolute;
   top: 0px;
   height: 200px;
   width: 500px;
   border-radius: 10px;
 }
.balance{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 1px 0px 2px;
    width: 400px;
    height: 250px;
    z-index: 1;
    position: absolute;
    top: 50px;
    margin-right: auto;
    margin-left: auto;
    
 }
 .transaction-dashboard #hello-user{

   position: absolute;
   top: 13px;
   left: 50px;
   font-size: 20px;
    font-weight: 400;
    color: limegreen;
    z-index: 1;
 }
 .transaction-dashboard #balance-avatar{
   width: 50px;
   height: 50px;
   display: flex;
   
   position: absolute;
   top: 0px;
   left: 0px;
 }
 
 #Total-balance{
    font-size: 25px;
    font-weight: 700;
 }
 .addmoney{
    text-align: center;
    
 }
 .addmoney-text1{
   font-size: 13px;
   width: 70px;
   position: relative;
   top: 0px;
 }
 .topUp-text{
   font-size: 14px;
   width: 70px;
   font-weight: 800;
   position: relative;
   bottom: 63px;
 }
 .transfermoney{
    text-align: center;
    position: inherit;
    bottom: 100px;
 }
 .addmoney img{
    position: inherit;
    top: -100px;
    
    height: 45px;
    width: 45px;
    background-color: rgb(197, 71, 239);
    border-radius: 10px;
 }
 .convert img{
   position: inherit;
    top: 80px;
    
    height: 45px;
    width: 45px;
    background-color: rgb(197, 71, 239);
    border-radius: 10px;
 }
 .addmoney-text{
    margin-top: 0px;
    font-weight: 900;
 }
 .addmoney img:hover{
    cursor: pointer;
    background-color: rgb(228, 230, 235);
 }
 .transfermoney img{
    position: inherit;
    margin-bottom: 50px;
    background-color: rgb(197, 71, 239);
    height: 45px;
    width: 45px;
    

    border-radius: 10px;
 }
 

 .transfermoney a{
   
   margin-bottom: 100px;
   background-color: rgb(197, 71, 239);
   height: 45px;
   width: 45px;
   

   border-radius: 10px;
}
 .transfermoney img:hover{
    cursor: pointer;
    background-color: rgb(228, 230, 235);
 }

 
.transaction-icons{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    
    height: 90px;
    

}
.transaction-icons .addmoney, .transfermoney{
    margin: 10px;
}
/* 
#transactionHistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    right: 0px;
   cursor: pointer;
    font-weight: 700;
    font-size: 12px;
 } */
 .table-responsive{
   position: absolute;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   flex-direction: column;
   
   
   top: 12em;
   
 }

 .table-bordered{
   padding: 20px;
   width: 100%;
   height: 100px;
   
  
   
 }
 
 
 /* Style the transaction history table */
#transactionHistory {
   width: 600px;
   
   margin: 20px;
   font-size: 16px;
   text-align: center;
}

/* Table headers */
#transactionHistory th {
   background-color: #4CAF50;
   color: white;
   padding: 10px;
}

/* Table rows */
#transactionHistory td {
   border: 1px solid #ddd;
   background-color: white;
   width: 600px;
   margin: 10px;
   border-radius: 10px;
   padding: 8px;
   
   
}

#transactionHistory tr{
   margin: 10px;
}

/* Zebra striping */
#transactionHistory .even-row {
   background-color: #f2f2f2;
}

#transactionHistory .odd-row {
   background-color: white;
}

/* Hover effect for rows */
#transactionHistory tr:hover {
   background-color: #ddd;
}

/* Center text in empty state */
#transactionHistory td[colspan="5"] {
   text-align: center;
   font-style: italic;
   color: #888;
   border-radius: 10px;
}



