@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: gainsboro;
}
.logo-png{
    width: 50px;
    border-radius: 50%;
    /* padding: 10px; */
}
.logo-text{
    font-size: 28px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: aliceblue;
}
.header{
    background-color:  rgb(29, 38, 67);
    border: 1px solid;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    padding: 20px;
}
.nav-link{
    margin-top: 10rem;
    background-color: aliceblue;
    width: 100%;
    padding: 40px;
    margin-left: 2rem;
    border-radius: 30px;
    line-height: 2rem;
}
.header-list{
    letter-spacing: 3px;
}
.head-link{
    text-decoration: none;
    font-family: "Lato";
    color: rgb(43, 42, 42);
    font-weight: 700;
}
.fa{
    color: navy;
}
.fa-refresh:active{
    animation: animate 3s;
}
@keyframes animate{
    
    25%{
        transform: rotate(300deg);
    }
     50%{
         transform: rotate(200deg);
     }
     100%{
         transform: rotate(100deg);
     }
 
 }
 #bottom-pics-2{
     display: none;
 } 
 .main-containers{
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
}
.header-list {
    margin-bottom: 10px;
}
.head-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.head-link i {
    margin-right: 10px;
}
 #Profile-image{
    width: 100px;
    border-radius: 50%;
    height: 120px;
    width: 130px;
}
#Profile-image2{
    width: 75px;
    border-radius: 50%;
    height: 60px;
    width: 80px;
}
input{
    display: none;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.client-name{
    font-family: "Lato",sans-serif;
}
/* Banking Section */
.trans-section{
    display: flex;
}
.transaction-icons{
    display: flex;
    gap: 50px;
    /* justify-content: center; */
}
.trans-icon{
    width: 45px;
    background-color: rgb(222, 152, 236);
    padding: 10px;
    border-radius: 10px;
}
.intro-space{
    padding: 15px;
    display: none;
    gap: 10px;
}
.addmoney-text, .topUp-text, .addmoney-text1{
    font-family: "Lato", sans-serif;
}
.support{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.support img{
    width: 80px;
    height:90px;
    cursor: pointer;
}
.transaction-dashboard{
    margin-top: 10rem; 
 }
 .transaction-dashboard #hello-user{
    font-family: "Lato",sans-serif;
    font-size: 20px;
     font-weight: 400;
     color: rgb(8, 31, 8);
  }
  
  .balance{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 25px;
    background-color: white;
    box-shadow: 2px 1px 0px 2px;
    width: 130%;
 }
 
 .trans-headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 a, #transaction-history{
    text-decoration: none;
    font-family: "Lato",sans-serif;
    color: blue;
 }
 .trans-head{
    font-family: "Lato", sans-serif;
 }
 #Total-balance{
    font-family: "Lato", sans-serif;
 }
 .table-bordered{
    background-color: aliceblue;
    width: 130%;
    border-radius: 25px;
    padding: 20px;
 }
 thead{
    padding: 25px;
 }
 tbody{
    line-height: 3rem;
 }
 td, th{
    font-family: "Lato", sans-serif;
 }
 
 /* Table headers */
 #transactionHistory th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
 }
 
 /* Table rows */
 /* #transactionHistory td {
    border: 1px solid #ddd;
    background-color: white;
    width: 600px;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
 } */
 

 
 /* Responsive Design */
@media (max-width: 1280px) {

}
@media (max-width:1114px) {
    #Profile-image{
        width: 100px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        /* padding: 40px; */
        margin-left: 2rem;
        border-radius: 30px;
        line-height: 2rem;
    }
    .balance{
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 25px;
        background-color: white;
        box-shadow: 2px 1px 0px 2px;
        width: 100%;
     }
     .table-bordered{
        background-color: aliceblue;
        width: 120%;
        border-radius: 25px;
        padding: 20px;
        margin: auto;
        position: relative;
        right: 2rem;
     } 
}
@media (max-width:884px) {
    body{
       overflow-x: hidden;
       height: 140vh;
    }
   
    
    .account-balance, .current-balance{
        background-color: white;
        width: 150%;
        border-radius: 15px;
        padding: 30px;
    }
    .transactions{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        position: relative;
        left: 8.5rem;
    }
     .main-containers{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .trans-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   

   
    .header{
        display: flex;
        justify-content: center;
        gap :380px;
        position: fixed;
        z-index: 5;
    }
   
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 2rem;
        display: grid;
        place-content: center;
        position: fixed;
        bottom: 0;
        z-index: 5;
        padding: 0px;
    }
    .header-list{
        display: grid;
        place-content: center;
    }
    #bottom-pics-2{
        display: flex;
    }
    #Profile-image{
        width: 100px;
        border-radius: 50%;
        height: 70px;
        width: 80px;
    }
    .client-name{
        font-family: "Lato",sans-serif;
        color: aliceblue;
        font-size: 14px;
    }
    .header{
        display: flex;
        justify-content: center;
        gap :380px;
        position: fixed;
        z-index: 5;
    }
    .logos{
        padding: 15px;
        line-height: 2rem;
    }
    .sidecontainer{
        display: flex;
    }
    #bottom-pics{
        display: none;
    }
    .support{
        position: fixed;
        right: 0px;
        top: 400px;
    }
    .support img{
        width: 80px;
        height:90px;
        cursor: pointer;
    }
    .profile{
        display: none;
    }
    .head-link{
        text-decoration: none;
        font-family: "Lato";
        color: rgb(43, 42, 42);
        font-weight: 700;
        font-size: 15px;
        display: block;
    }
    .head-link:hover{
        background-color: rgb(95, 95, 190);
        width: 100%;
        color: aliceblue;
      }
      .balance{
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 25px;
        background-color: white;
        box-shadow: 2px 1px 0px 2px;
        width: 100%;
        z-index: 1;
        /* position: absolute;
        top: 50px;
        margin-right: auto;
        margin-left: auto; */
        
     }
    
     .table-bordered{
        background-color: aliceblue;
        width: 120%;
        border-radius: 25px;
        padding: 20px;
        margin: auto;
     } 
     .intro-space{ 
        display: flex;
        gap: 10px;
        transform: translate(1%, 0%);
     }
     #hello-user{
        transform: translate(0%, 50%);
        font-family: "Lato", sans-serif;
     }
     .transaction-dashboard{
        margin-top: 4rem; 
     }
     .trans-balances{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:834px) {
    .header{
        display: flex;
        justify-content: center;
        gap :300px;
    }
    .header-list{
        letter-spacing: 1px;
    }
    .head-link{
        text-decoration: none;
        font-family: "Lato";
        color: rgb(43, 42, 42);
        font-weight: 700;
    }
}
@media (max-width:768px) {
    body{
        height: 160vh;
    }
}
@media (max-width:430px) {
    *{
        overflow-x: hidden;
    }
    body{
        overflow: hidden;
        height: 200vh;
     }
    .logo-text{
        font-size: 28px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        color: aliceblue;
    }
    .header{
        display: flex;
        justify-content: center;
        gap :120px;
        position: fixed;
        z-index: 5;
    }
    .intro-space{ 
        display: flex;
        gap: 10px;
        transform: translate(5%, 0%);
     }
     #hello-user{
        transform: translate(0%, 50%);
        font-family: "Lato", sans-serif;
     }
    #Profile-image2{
        width: 100px;
        border-radius: 50%;
        height: 60px;
        width: 70px;
    }
    .client-name{
        font-family: "Lato",sans-serif;
        color: aliceblue;
        font-size: 12px;
    }
    #removal{
        display: none;
    }
    
    .transaction-history{
        position: relative;
        left: 3rem;
        top: -1rem;
        text-decoration: none;
     }
     .transaction-icons{
        display: flex;
        gap: 15px;
        /* justify-content: center; */
    }
    a, #transaction-history{
        text-decoration: none;
        font-family: "Lato",sans-serif;
        font-size: 15px;
        color: blue;
        /* font-size: 13px; */
     }
    .trans-icon{
        width: 40px;
        background-color: rgb(222, 152, 236);
        padding: 10px;
        border-radius: 10px;
    }
    .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 14px;
    }
    .balances{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    .transactions{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        position: relative;
        left: 3.5rem;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0.2rem;
        border-radius: 0px;
        line-height: 1rem;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .header-list{
        letter-spacing: 1px;
    }
    .trans-balances{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .balance{
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 25px;
        background-color: white;
        box-shadow: 2px 1px 0px 2px;
        width: 90%;
        z-index: 1;
        /* position: absolute;
        top: 50px;
        margin-right: auto;
        margin-left: auto; */
        
     }
   
      .table-bordered{
        background-color: aliceblue;
        width: 95%;
        border-radius: 25px;
        /* transform: translate(-10%, 60%); */
        padding: 10px;
        margin: auto;
        position: relative;
        right: 0;
     }
     td, th{
        font-family: "Lato", sans-serif;
        font-size: 14px;
     }
     /* #transactionHistory td {
        border: 1px solid #ddd;
        background-color: white;
        width: 200px;
        margin: 10px;
        border-radius: 10px;
        padding: 5px 10px;
     } */
      tr, #recent-head{
          
    }
     .support{
        position: fixed;
        right: 0px;
          top: 600px;
    }
    .support img{
        width: 60px;
        height:70px;
        cursor: pointer;
    }
}
@media (max-width:414px) {
    #transactionHistory th {
        background-color: #4CAF50;
        color: white;
        padding: 0px 10px; 
        font-size: 15px;
     }
     .header{
        display: flex;
        justify-content: center;
        gap :100px;
        position: fixed;
        z-index: 5;
    }
    #recent-head{
       position: relative;
       left: 8rem;
    }
}
@media (max-width:393px) {
    .balance{
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 25px;
        background-color: white;
        box-shadow: 2px 1px 0px 2px;
        width: 90%;
        z-index: 1;
        /* position: absolute;
        top: 50px;
        margin-right: auto;
        margin-left: auto; */ 
     }
     /* #transactionHistory td {
        border: none;
        background-color: white;
        width: 200px;
        margin: 10px;
        padding: 8px;
     } */
     a, #transaction-history{
        text-decoration: none;
        font-family: "Lato",sans-serif;
        font-size: 12px;
        color: blue;
        /* font-size: 13px; */
     }
     .table-bordered{
        background-color: aliceblue;
        width: 85px;
        border-radius: 25px;
        /* transform: translate(-10%, 60%); */
        padding: 25px;
        margin: auto;
     }
     #recent-head{
        position: relative;
        left: 6rem;
     }
}
@media (max-width:390px) {
    *{
        overflow-x: hidden;
    }
    body{
        overflow: hidden;
        height: 200vh;
     }
    /* .transaction-dashboard{
        margin-top: 6rem; 
     } */
     .balance{
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 25px;
        background-color: white;
        box-shadow: 2px 1px 0px 2px;
        width: 95%;
        z-index: 1;
        /* position: absolute;
        top: 50px;
        margin-right: auto;
        margin-left: auto; */ 
     }
    .table-bordered{
        background-color: aliceblue;
        width: 75px;
        border-radius: 25px;
        /* transform: translate(-10%, 60%); */
        padding: 15px;
        margin: auto;
     }
     #transactionHistory th {
        background-color: #4CAF50;
        color: white;
        padding: 0px 0px; 
        font-size: 15px;
     }
     /* #transactionHistory td:first-child {
        border: 1px solid #ddd;
        width: 20%;
        height: 20px;
        margin: 10px;
        border-radius: 10px;
        padding: 4px 0px;
     } */
}
@media (max-width:375px) {
    *{
        overflow-x: hidden;
    }
    body{
        overflow: hidden;
        height: 210vh;
     } 
     /* .transaction-dashboard{
        margin-top: 4rem; 
     } */
     #Profile-image2{
        width: 100px;
        border-radius: 50%;
        height: 50px;
        width: 60px;
    }
}
@media (max-width:360px) {
    body{
        overflow: hidden;
        height: 200vh;
     } 
    /* .transaction-dashboard{
        margin-top: 4rem; 
     } */
     .header{
        background-color:  rgb(29, 38, 67);
        border: 1px solid;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 4;
        padding: 10px;
    }
     .logo-text{
        font-size: 28px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        color: aliceblue;
    }
     .table-bordered{
        background-color: aliceblue;
        width: 75px;
        border-radius: 25px;
        /* transform: translate(-10%, 60%); */
        padding: 5px;
        margin: auto;
     }
     .addmoney-text, .topUp-text, .addmoney-text1{
        font-family: "Lato", sans-serif;
        font-size: 12px;
    }
}
@media (max-width:320px) {
    body{
        overflow: hidden;
        height: 290vh;
    }
    .header{
        background-color:  rgb(29, 38, 67);
        border: 1px solid;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 4;
        padding: 5px;
    }
    .logo-text{
        font-size: 22px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        color: aliceblue;
    }
    .nav-link{
        margin-top: 10rem;
        background-color: aliceblue;
        width: 100%;
        margin-left: 0rem;
        border-radius: 0px;
        line-height: 1rem;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .head-link{
        text-decoration: none;
        font-family: "Lato";
        color: rgb(43, 42, 42);
        font-weight: 700;
        font-size: 12px;
    }
    .table-bordered{
        background-color: aliceblue;
        width: 55px;
        border-radius: 25px;
        /* transform: translate(-10%, 60%); */
        padding: 1px;
        margin: auto;
     }
   
}